{
	auto_https off
}

(php_common) {
	encode gzip
	log {
		output stderr
	}

	@notStatic {
		not path *.ico *.css *.js *.gif *.jpg *.jpeg *.png *.svg *.woff *.woff2
	}

	try_files {path} /index.php?{query}

	@phpFiles path *.php
	reverse_proxy @phpFiles {args[0]}:9000 {
		transport fastcgi {
			root {args[1]}
			split .php
			env SERVER_NAME {host}
		}
	}

	file_server
}

:80 {
	redir https://{host}{uri} permanent
}

:443 {
	tls /etc/caddy/certs/server.crt /etc/caddy/certs/server.key

	@project83 host_regexp project83 ^(?:.*\.)?([^.]+)\.php83\.symf4$
	handle @project83 {
		root * /srv/web/{re.project83.1}.symf/public
		import php_common php83 /srv/web/{re.project83.1}.symf/public
	}

	@project84 host_regexp project84 ^(?:.*\.)?([^.]+)\.php84\.symf4$
	handle @project84 {
		root * /srv/web/{re.project84.1}.symf/public
		import php_common php84 /srv/web/{re.project84.1}.symf/public
	}

	@projectHome host_regexp projectHome ^(?:.*\.)?([^.]+)\.home\.symf4$
	handle @projectHome {
		root * /srv/web/home-network/{re.projectHome.1}.symf/public
		import php_common php84 /srv/web/home-network/{re.projectHome.1}.symf/public
	}

	handle {
		respond "No matching site" 404
	}
}
