services:
  caddy:
    image: caddy:2-alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - ./certs:/etc/caddy/certs:ro
      - ./overrides:/etc/caddy/overrides:ro
      - web:/srv/web:ro
    depends_on:
      - php83
      - php84
    restart: unless-stopped

  php83:
    build:
      context: .
      dockerfile: Dockerfile.php
      args:
        PHP_VERSION: "8.3"
    user: "${UID}:${UID}"
    volumes:
      - web:/srv/web
    restart: unless-stopped

  php84:
    build:
      context: .
      dockerfile: Dockerfile.php
      args:
        PHP_VERSION: "8.4"
    user: "${UID}:${UID}"
    volumes:
      - web:/srv/web
    restart: unless-stopped

  mysql:
    image: mysql:8.0
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_PASSWORD}
      LANG: C.UTF-8
      LC_ALL: C.UTF-8
    ports:
      - "3306:3306"
    volumes:
      - ./data/mysql:/var/lib/mysql
      - ./config/my.cnf:/etc/my.cnf:ro
      - ./data/dumps:/dumps
      - web:/web

  mysql84:
    image: mysql:8.4
    profiles: [mysql84]
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "3384:3306"
    volumes:
      - ./data/mysql84:/var/lib/mysql
      - ./data/dumps:/dumps
      - web:/web

  mariadb:
    image: mariadb:11.1
    profiles: [mariadb]
    restart: unless-stopped
    environment:
      MARIADB_ROOT_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "3406:3306"
    volumes:
      - ./data/mariadb:/var/lib/mysql
      - ./data/dumps:/dumps
      - web:/web

  # N.B. mkdir data/mssql && sudo chown 10001:0 data/mssql
  mssql:
    image: mcr.microsoft.com/mssql/server:2022-latest
    profiles: [mssql]
    restart: unless-stopped
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: ${MSSQL_PASSWORD}
      MSSQL_PID: Developer
    ports:
      - "1433:1433"
    volumes:
      - ./data/mssql:/var/opt/mssql

  postgres:
    image: postgres
    profiles: [postgres]
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - ./data/postgres:/var/lib/postgresql/data

volumes:
  web:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${WEB_ROOT}
